<div class="card text-center cardContainer">
    <div class="card-header">
     CHAT
    </div>
    <div class="card-body">
      
    </div>
    <div class="card-footer text-muted input-group">
      
        <input type="text" class="form-control" placeholder="Ingrese su mensaje"  >
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
  
            <img class="imgEnviar" src="https://img.icons8.com/material-sharp/384/sent.png" width="24 px" alt="Send message">
             
          </span>
        </div>
    </div>
  </div>